:root {
  --text-color: #555252;
  --style-elem-color: #1abc9c;
}

body, p, h1 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.header { 
  width: 1100px;
  margin: auto;
  margin-bottom: 32px; }
  
.logo {
  float: left;
  padding-top: 38px;
  font: 300 30px/32px "Roboto", Arial, sans-serif;
}

.logo__link { color: var(--text-color); }

.logo::first-letter {
  font-weight: 900;
  color: var(--style-elem-color);
}

.nav__list {
  float: right;
  padding-top: 40px;
}

.nav__item {
  float: left;
  margin-right: 34px;
}

.nav__item:last-child { margin-right: 0; }

.nav__link {
  font: 700 14px/11px "OpenSans", Arial, Helvetica, sans-serif;
  color: #000;
}

.nav__link:hover { color: var(--style-elem-color); }

.slider {
  position: relative;
  height: 600px;
}

.slides-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 1600px;
  height: 600px;
  background-color: rgba(0, 0, 2, 0.52);
  z-index: 1;
}

.btn {
    background-color: rgba(78, 198, 171, 0.3);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    display: inline-block;
    z-index: 3;
  }
  
.slider-button-prev {
  left: 15%;
  background-size: 100px 100px;
  background-image: url(../img/angle-left.svg);
  fill: white;
}

.slider-button-next {
  right: 15%;
  background-size: 100px 100px;
  background-image: url(../img/angle-right.svg);
}

.btn:hover {
  background-color: rgb(26, 188, 156);
}

.text-prev {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 6px;
  color: #ffffff;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 50%;
  top: 45%;
  z-index: 5;
}

.text-next {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  line-height: 15px;
  color: #ffffff;
  transform: translate(-80%, 0);
  top: 55%;
  left: 50%;
  bottom: 50%;
  z-index: 5;
}

.section-title {
  font-size: 48px;
  font-family: "Roboto Black";
  text-align: center;
  margin-bottom: 80px;
}

.section-title:after {
  content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: var(--style-elem-color);
    margin: 32px auto 0;
}

.card {
  width: 1600px;
  padding-top: 100px;
  background-color: rgb(233, 240, 253);
  padding-bottom: 94px;
}

.products {
  width: 1100px;
  margin: auto;
}

.products li{
  display: inline-block;
  float: left;
}

.products li:not(:last-child) {
  margin-right: 26px;
}

.product-name {
  font: 900 18px/32px 'Roboto', sans-serif;
  background-color: #323232;
  color: #fff;
}

.product-link,
.product-price {
  padding: 4px 0px;
  box-sizing: border-box;
}

.product-link {
  float: left;
  padding-left: 14px;
}

.product-price {
  float: right;
  text-align: center;
  width: 54px;
  background-color: rgba(255, 255, 255, 0.44);
}

.product-item-wrap {
  position: relative;
}

.button-wrap {
  position: absolute;
  bottom: 0;
  transform: translateY(-14%);
  width: 255px;
  height: 282px;
  background-color: #000;
  border: 10px solid rgba(250, 250, 250, 0.829);
  opacity: 0;
}

.product-item-wrap:hover .button-wrap {
  opacity: 0.549;
}

.product-item-wrap:hover .product-name {
  background-color: var(--style-elem-color);
}

.button-list {
  width: 166px;
  height: 106px;
  margin-left: 35px;
  margin-top: 80px;
}

.button-list li:not(:last-child) {
  margin-right: 5px;
}

.ico1 {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-color: #fff;
  background-image: url(../img/angle-left.svg);
  background-size: 50px 50px;
  background-color: #fff;
}

.ico2 {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-image: url(../img/angle-left.svg);
  background-size: 50px 50px;
  background-color: #fff;
}

.ico3 {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-image: url(../img/angle-left.svg);
  background-size: 50px 50px;
  background-color: #fff;
}

.ico4 {
  width: 160px;
  height: 50px;
  border: 1px solid #fff;
  margin-top: 3px;
  background-image: url(../img/angle-left.svg);
  background-size: 50px 50px;
  background-color: #fff;
}

footer {
  width: 1600px;
  height: 90px;
  background-color: rgb(50, 50, 50);
}

.footer-text {
  font: 16px/28px 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: none;
  padding-top: 31px;
}

span {
  color: #46bfa9;
}









