/* Практика позиционированние */

/* .parent {
    position:relative;
    height: 500px;
    width: 500px;
    background-color: #212121;
}

.child {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 150px;
    width: 150px;
    background-color: palevioletred;
} */

/* Практика создание карточки */

/* .overlay {
    position: absolute;
    width: 225px;
    height: 252px;
    padding: 15px;
    background-color: rgb(76, 118, 255);
    opacity: 0;
    text-align: center;
}

.card {
    position: relative;
    width: 255px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3)
}

.card:hover .overlay {
    opacity: 0.949;
}

.overlay-icon {
    position: absolute;
    bottom: 20%;
    right: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red;
}

.overlay-icon2 {
    position: absolute;
    bottom: 20%;
    right: 65%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red;
} */

/* Практика создания слева иконка справа идет 2 абзаца */

/* .article {
    position: relative;
    width: 300px;
    padding-left: 70px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.article::before {
    position: absolute;
    left: 5px;
    top: 15px;
    display: inline-block;
    content: '';
    width: 50px;
    height: 50px;
    background-color: red;
} */

/* Создаем слайдер
и запомнить свойства для выравниевания
по ширене слайдера блока картинки
если задана строго ширина и высота
height: 400px;
    width: 100%;
    object-fit: cover; */

/* .slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slides-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.slides-item {
  position: relative;
}

.slide-descr {
  position: absolute;
  width: auto;
  top: 50%;
  right: 50%;
  background-color: red;
  opacity: 0.7;
  padding: 10px;
  transform: translate(50%, -100%)
}

.slider {
  position: relative;
  width: 800px;
  height: 400px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  margin: auto;
} */

/* Это общая красота на две кнопки
если есть общий клас к нескольким
элементам, все лучше заносить в
один класс, как в данном примере */
/* .slider-ctrl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  display: inline-block;
  width: 50px;
  height: 57px;
  background-color: #26b9e1;
  font-weight: 700;
  z-index: 2;
}

.slider-ctrl-prev {
  left: 0;
}

.slider-ctrl-next {
  right: 0;
}

.slider-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-pagination-item {
  display: inline-block;
  width: 60px;
  height: 5px;
  background-color: #b0b8b9;
}

.slider-pagination-active {
  background-color: #20a8da;
} */

/* Создание модального окна */

/* html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

p {
    margin: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    padding: 20px;
    background-color: teal;
} */


