$main-font-stack: "Montserrat", sans-serif;
$title-font-stack: "Kaushan Script";
$secondary-font-stack: 'Roboto', sans-serif;
$main-font-size: 14px;
$primary-white-color: #ffffff;
$secondary-yellow-color: #fce38a;
$text-center-position: center;
$secondary-dark-color: #333333;
$secondary-gray-color: #999999;
$secondary-red-color: #f38181;
