html {
    box-sizing: border-box;
}

*,
*::before,
*::after  {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}


.nav-menu {
    width: 600px;
    margin: 0 auto;
    font-size: 0;
    list-style: none;
    padding: 75px 0 95px 0;
}

.nav-menu-item {
    display: inline-block;
}


.nav-menu-item a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    padding: 0 40px;
}

.nav-menu-item a:hover,
.nav-menu-item a:focus {
    color: blue;
}

.article-item {
    display: inline-block;
    width: 420px;
}

.article-item:nth-last-child(2n) {
    margin-right: 60px;
}

.article-item:nth-child(-n+4) {
    margin-bottom: 130px;
}

.article-image {
    margin-bottom: 30px;
}

.article-category {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
}

.article-item h2 {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 36px;
}

.article-list {
    margin-bottom: 50px;
    font-size: 0;
}

.article-text {
    font-size: 14px;
}
.main {
    padding-bottom: 50px;
}

.button-end {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    line-h eight: 24px;
    padding: 18px 40px;
    color: #626262;
    cursor: pointer;
    background-color: Transparent;
    border: 1px solid #000;
}

.button-end:hover {
    color: blue;
}





