html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

h1,
h2,
.goods-title,
.menu-item a {
  text-transform: uppercase;
  font-family: "Roboto Black";
  color: #323232;
}

.wrapp {
  width: 1110px;
  margin: 0 auto;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.page-header {
  padding-top: 38px;
  padding-bottom: 30px;
}

.logo {
  display: block;
  font: 300 30px/32px "Roboto", sans-serif;
  color: #555252;
}

h1 {
  float: left;
  margin: 0;
}

.logo::first-letter {
  font-family: "Roboto Black";
  color: #1abc9c;
}

.site-navigation {
  width: 464px;
}

.menu-item {
  float: left;
  margin-right: 20px;
}

.menu {
  list-style: none;
  text-decoration: none;
}

.menu-item a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.menu-item a:hover {
  color: #1abc9c;
}

.menu-item:last-child {
  margin-right: 0;
}

.site-navigation {
  float: right;
  margin-top: 8px;
  font-family: "Open Sans", sans-serif;
  color: #555252;
}

.mySlides {
  position: absolute;
  display: block;
  width: 100%; 
  height: 600px;
  transition: .4s
}
.slide1 {
  background: url(../img/slider/1.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page_slider {
  position: relative;
  width: 100%;
  height: 600px;
  transition: .4s
}
.page_slider::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0%;
  z-index: 1;
}
.page_slider__container {
  position: relative;
  max-width: 1110px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0px 10px;
  z-index: 2;
}
.slider_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
}
.slider_button__left {
  left: 0;
  background-image: url(../img/slider/arrow-left.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 50%;
  transition: .4s
}
.slider_button__right {
  right: 0;
  background-image: url(../img/slider/arrow-right.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 50%;
  transition: .4s
}
.slider_button__left:hover,
.slider_button__right:hover {
  background-color: rgba(26, 188, 156, 0.5);
}
.page_slider__text-container {
  font-family: 'Roboto', sans-serif;
  position: relative;
  max-width: 744px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.page_slider__text-box {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .4s
}
.page_slider__text-box__slider-title {
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: initial;
  text-transform: uppercase;
  margin: 0;
}
.page_slider__text-box__slider-text {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: initial;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-family: "Roboto Black";
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
  margin-bottom: 92px;
}

h2::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 30px;
}

.fetured-products {
  padding: 100px 0 100px 0;
  background-color: rgb(233, 240, 253);
}

.products-item {
  width: 255px;
  height: 322px;
  float: left;
}

.products-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.image-wrapp {
  position: relative;
  height: 281px;
  background-color: #e9f0fd;
  text-align: center;
}

.overlay {
  position: absolute;
  width: 235px;
  height: 261px;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.products-item:hover .overlay {
  opacity: 1;
}

.icons-item a:hover {
  background-color: rgb(26, 188, 156);
}

.produckt-image {
  vertical-align: middle;
  height: 281px;
}

.icons-wrapp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 166px;
  height: 107px;
}

.icons-item {
  float: left;
  margin-right: 8px;
  margin-bottom: 7px;
}

.icons-item:last-child {
  margin-right: 0;
}

.icons-item:nth-of-type(3) {
  margin-right: 0;
}

.icons-item {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
}

.icons-item:last-child {
  width: 166px;
  font-family: "Open sans", sans-serif;
  background-color: #323232;
}

.icons-item a {
  display: inline-block;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  color: #ffffff;
  line-height: 48px;
}

.icons-item i {
  vertical-align: middle;
}

.goods-wrapp {
  width: 255px;
  height: 40px;
  background: linear-gradient(
    90deg,
    #323232,
    #323232 76%,
    #8c8c8c,
    #8c8c8c 24%
  );
  padding: 4px 14px;
}

.goods-title,
.goods-price {
  display: block;
  font-size: 18px;
  font-family: "Roboto Black";
  line-height: 32px;
  color: #ffffff;
}

.goods-title {
  float: left;
}

.goods-price {
  float: right;
}

.products-item:hover .goods-wrapp {
  background: linear-gradient(
    90deg,
    #1abc9c,
    #1abc9c 76%,
    #7fd9c7,
    #7fd9c7 24%
  );
}

.page-footer {
  min-height: 90px;
  text-align: center;
  background-color: #323232;
}

.page-footer p {
  line-height: 90px;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
}

.page-footer a {
  color: #46bfa9;
}

.footer-link {
  display: inline;
}
